{% load static %}
 



<!-- =================== Top Bar section Starts ========================== -->
{% include 'core_app/header.html' %}
<!-- ==================== Top Bar Section Ends ========================= -->

<!-- HOME STARTS -->

{% block home %}
{% endblock %}

<!-- HOME ENDS -->

<!-- PRIVACY POLICY STARTS -->

{% block privacypolicy%}
{% endblock %}

<!-- PRIVACY POLICY ENDS -->

<!-- TERMS AND CONDITIONS  STARTS -->

{% block terms_and_condition %}
{% endblock %}

<!-- TERMS AND CONDITIONS ENDS -->

<!-- UA INDIA PROGRAMME STARTS -->

{% block ua_india_programme %}
{% endblock %}

<!-- UA INDIA PROGRAMME ENDS -->

<!-- IDNCCTLD STARTS -->

{% block IDNCCTLD %}
{% endblock %}

<!-- IDNCCTLD ENDS -->

<!-- BEST PRACTICES STARTS -->

{% block best_practices %}
{% endblock %}

<!-- BEST PRACTICES ENDS -->


<!--EAI STARTS -->
{% block EAI %}
{% endblock %}
<!-- EAI  ENDS -->

<!-- UA STARTS -->
{% block UA %}
{% endblock %}
<!-- UA ENDS -->


<!-- TOOLS STARTS -->
{% block tools %}
{% endblock %}
<!-- TOOLS ENDS -->


<!-- UNICODE PUNYCODE GENERATOR STARTS -->
{% block unicode_punycode_generator %}
{% endblock %}
<!-- UNICODE PUNYCODE GENERATOR ENDS -->


<!-- TRANSLITERATION STARTS -->
{% block transliteration %}
{% endblock %}
<!-- TRANSLITERATION ENDS -->


<!-- UNICODE FONTS STARTS -->
{% block unicode_fonts %}
{% endblock %}
<!-- UNICODE FONTS ENDS -->


<!-- SCRIPT DETECTION STARTS -->
{% block script_detection %}
{% endblock %}
<!-- SCRIPT DETECTION ENDS -->


<!-- DOMAIN VALIDATOR STARTS -->
{% block domain_validator %}
{% endblock %}
<!-- DOMAIN VALIDATOR ENDS -->


<!-- EMAIL VALIDATOR STARTS -->
{% block email_validator %}
{% endblock %}
<!-- EMAIL VALIDATOR ENDS -->

<!-- Language Detection starts -->
{% block language_detection %}
{% endblock %}

<!--  FEEDBACK STARTS -->
{% block feedback %}
{% endblock %}
<!-- FEEDBACK ENDS -->


<!--  BECOMEUAREADY STARTS -->
{% block becomeuaready %}
{% endblock %}
<!-- BECOMEUAREADY ENDS -->


<!--  FAQS STARTS -->
{% block FAQs %}
{% endblock %}
<!-- FAQS ENDS -->

<!--  SEARCHRESULTS STARTS -->
{% block search_results %}
{% endblock %}
<!-- SEARCHRESULTS ENDS -->

<!--  DOCUMENT STARTS -->
{% block uadocument %}
{% endblock %}
<!--  DOCUMENT ENDS -->
<!--  SEARCHRESULTS STARTS -->
{% block home1 %}
{% endblock %}
<!-- SEARCHRESULTS ENDS -->


<!--  SUPPORT STARTS -->
{% block Support %}
{% endblock %}
<!-- SUPPORT ENDS -->

<!--  TESTIMONIALS  STARTS -->
{% block testimonials %}
{% endblock %}
<!-- TESTIMONIALS ENDS -->


<!--  SUCCESS STORIES  STARTS -->
{% block success_stories %}
{% endblock %}
<!--  SUCCESS STORIES  ENDS -->


<!--  EVENT  STARTS -->
{% block event %}
{% endblock %}
<!--  EVENT  ENDS -->


<!--  GALERY  STARTS -->
{% block gallery %}
{% endblock %}
<!--  EVENT  ENDS -->


<!--  GALERY  STARTS -->
{% block soptechnologypage %}
{% endblock %}
<!--  EVENT  ENDS -->

<!--  GALERY  STARTS -->
{% block sopdocuemntpage %}
{% endblock %}
<!--  EVENT  ENDS -->


<!-- Dashboard Starts-->
{% block dashboard %}
{% endblock %}
<!-- Dashboard Ends-->


<!-- Admin Dashboard Starts-->
{% block AdminDashboard %}

{% endblock %}
<!-- Admin Dashboard Ends-->

<!-- TLD CHECKER STARTS -->
{% block tld_validator %}
{% endblock %}
<!-- TLD CHECKER ENDS -->

<!-- user_login STARTS -->
{% block user_login %}
{% endblock %}
<!-- user_login ENDS -->

<!-- user_register STARTS -->
{% block user_register %}
{% endblock %}
<!-- user_register ENDS -->

<!-- forgot_password_token_page STARTS -->
{% block forgot_password_token_page %}
{% endblock %}
<!-- forgot_password_token_page ENDS -->

<!-- change_password STARTS -->
{% block change_password %}
{% endblock %}
<!-- change_password ENDS -->

<!-- change_password STARTS -->
{% block forgot_password %}
{% endblock %}
<!-- change_password ENDS -->

<!-- change_password STARTS -->
{% block password_creation %}
{% endblock %}
<!-- change_password ENDS -->

<!-- change_password STARTS -->
{% block success_page %}
{% endblock %}
<!-- change_password ENDS -->


<!-- user_profile STARTS -->
{% block user_profile %}
{% endblock %}
<!-- user_profile ENDS -->



<!-- BLOG STARTS -->
{% block blog_list %}
{% endblock %}
<!-- BLOG ENDS -->


<!-- BLOG DETAILS STARTS -->
{% block blog_details %}
{% endblock %}
<!-- BLOG DETAILS ENDS -->



<!--ADD BLOG DATATABLE STARTS -->
{% block blog_datatable %}
{% endblock %}
<!---ADD BLOG DATATABLE ENDS -->

<!-- Mass Mailing -->
{% block mass_mail %}
{% endblock %}
<!-- Mass Mailing Ends -->


<!-- Mass Mailing -->
{% block cdac_keyboard %}
{% endblock %}
<!-- Mass Mailing Ends -->


<!-- Discussion Forum App -->
<!-- view_topic_discussion -->
{% block view_topic_discussion %}{% endblock  %}
{% block add_topic %}{% endblock  %}
{% block topic_list %}{% endblock  %}
{% block user_topic_list %}{% endblock  %}
{% block idn_websites_request1 %}{% endblock  %}
{% block idn_websites_request_AJAX %}{% endblock  %}






<!-- ======================= Footer section Starts ============================= -->
{% include 'core_app/footer.html' %}
<!-- ======================= Footer Section Starts ============================ -->