{% load static %}


<footer class="footer">
    <div class="footer-top aos d-flex justify-content-center aos-animate" data-aos="fade">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <img src="{% static 'core_app/assets/img/logo1.png'%}" alt="logo">
                        </div>
                        <div class="footer-about-content">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="w-100 h-100" src="https://www.youtube.com/embed/0-9AnMu7KA0"
                                        title="Universal Acceptance Video">
                                </iframe>
                            </div>
                        </div>
                    </div>
					<!-- <script type="text/javascript"> //<![CDATA[
  var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.trust-provider.com/" : "http://www.trustlogo.com/");
  document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
//]]></script>
<script language="JavaScript" type="text/javascript">
  TrustLogo("https://ssl.comodoca.com/images/seals/sectigo_trust_seal_sm_2x.png", "SECDV", "none");
</script> -->
                </div>
                <div class="col-lg-2 col-md-6 col-6">
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Useful Links</h2>
                        <ul>
                            <li><a href="https://registry.in" target="_blank" onclick="return myFunction(); "><i class="fa fa-link"></i>registry.in</a></li>
                            <li><a href="https://registry.gov.in" target="_blank" onclick="return myFunction(); "><i class="fa fa-link"></i>registry.gov.in</a></li>
                            <li><a href="https://coednssecurity.in" target="_blank" onclick="return myFunction(); " ><i class="fa fa-link"></i>coednssecurity.in</a></li>
                            <li><a href="https://mailindia.in" target="_blank" onclick="return myFunction(); "><i class="fa fa-link"></i>mailindia.in</a></li>
                            <li><a href="https://unicode.org" target="_blank" onclick="return myFunction(); " ><i class="fa fa-link"></i>unicode.org</a></li>
                            <li><a href="https://iana.org" target="_blank" onclick="return myFunction(); " ><i class="fa fa-link"></i>iana.org</a></li>
                            <li><a href="https://www.registry.in/accredited-registrars" target="_blank" onclick="return myFunction(); "><i class="fa fa-link"></i>registrars list</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-6">
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Other Links</h2>
                        <ul>
                            <li><a href="{% url 'home' %}"><i class="fa fa-link"></i>Home</a></li>
                            <li><a href="{% url 'FAQs' %}"><i class="fa fa-link"></i>FAQs</a></li>
                            <li><a href="{% url 'blogs' %}"><i class="fa fa-link"></i>Blogs</a></li>
                             <!-- Gallery -->
                             <li id="gallery"><a href="{% url 'gallery' %}"><i class="fa fa-link"  aria-hidden="true"></i>Gallery</a></li>
                            {% comment %} <li><a href="{% url 'idn_websites_request' %}"><i class="fa fa-link"></i>Submit Your IDN Website' %}</a></li> {% endcomment %}
                            <li><a href="{% url 'privacypolicy' %}"><i class="fa fa-link"></i>Privacy Policy</a></li>
                            <li><a href="{% url 'termsandconditions' %}"><i class="fa fa-link"></i>Terms & Conditions</a></li>
                            <li><a href="{% url 'dashboard' %}"><i class="fa fa-link"></i>Dashboard</a></li>

			    <!-- <li><a href="{% url 'blogs' %}"><i class="fa fa-link"></i>Blogs'%}</a></li>-->
                            {% comment %} <li><a href="https://registry.gov.in/idndomain_reporting_module/login_idnreport.php"><i class="fa fa-link"></i>Test'%}</a></li> {% endcomment %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title">Contact us</h2>
                        <div class="ua-address">
                        </div>
                        <div class="footer-contact-info">
                            <div class="footer-address">
                                <img src="{% static 'core_app/assets/img/icon/icon-20.svg' %}" alt="icon for address map"
                                     class="img-fluid" aria-hidden="true">
                                <p>National Internet Exchange of India (NIXI) 9th Floor, B-Wing, Statesman House,148, Barakhamba Road, New Delhi 110001</p>
                            </div>
                            <p>
                                <img src="{% static 'core_app/assets/img/icon/!icon-19.svg' %}" alt="icon for email"
                                     class="img-fluid" aria-hidden="true">
                                <a>Email: uasupport[at]nixi[dot]in</a>
                            </p>
                            <p class="mb-0">
                                <img src="{% static 'core_app/assets/img/icon/icon-21.svg' %}" alt="icon for phone "
                                     class="img-fluid" aria-hidden="true"> Phone: +91-11-48202000
                            </p>
                            <a href="#section1" id="go-to-top">Go to Top</a>
                        </div>
                    </div>
					
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <div class="copyright-text">
                            <p class="mb-0">Contents on website are under continuous updation. 2024 © Copyright NIXI All rights reserved.</p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</footer>
<!-- ====== Footer Section Starts ====== -->
</div>
<!-- ====== jquery js ====== -->
<!-- <script src="{% static 'core_app/assets/js/jquery-3.6.0.min.js' %}"></script> -->
<script src='https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js'></script>

{% comment %} <script src="{% static 'core_app/assets/js/chart.js' %}"></script> {% endcomment %}
<!-- ====== bootstrap 5 js ====== -->
<script src="{% static 'core_app/assets/js/bootstrap.bundle.min.js' %}"></script>
<!-- ====== Jquey-datatable js ====== -->
<script src="{% static 'core_app/assets/js/jquery-datatable-min.js' %}"></script>
<!-- ====== bootstrap-datatable js ====== -->
<script src="{% static 'core_app/assets/js/bootstrap-datatable.min.js' %}"></script>
<!-- ====== select js ====== -->
<script src="{% static 'core_app/assets/plugins/select2/js/select2.min.js' %}"></script>
<!-- ====== owl carosel js ====== -->
<script src="{% static 'core_app/assets/js/owl.carousel.min.js' %}"></script>
<!-- ====== slick js ====== -->
<script src="{% static 'core_app/assets/plugins/slick/slick.js' %}"></script>
<!-- ====== aos js ====== -->
<script src="{% static 'core_app/assets/plugins/aos/aos.js' %}"></script>
<!-- ====== main js ====== -->
<script src="{% static 'core_app/assets/js/script.min.js' %}"></script>
<!-- ====== Accessibility js ====== -->
<script src="{% static 'core_app/assets/js/accessibility.min.js' %}"></script>

<script src="{% static 'core_app/assets/js/tabs.js' %}"></script>
<script src="{% static 'core_app/assets/js/search.js' %}"></script>
<script src="{% static 'core_app/assets/js/LanguageScriptDetection.min.js' %}"></script>
<script src="{% static 'core_app/assets/js/idna.js' %}"></script>
<script src="{% static 'core_app/assets/js/gallery.js' %}"></script>



<script type="text/javascript" src="https://gistlangserver.in/Content/WSLToolbar/Scripts/GoTranslateWebLocalizer/latest/static/gotwl.min.js" defer></script> 

<script>
    window.onload = () => {
        console.log("value",document.getElementById('dropdownMenuLink').innerText)
        console.log("requested path",location.hostname)
        if (location.hostname === 'bhashanet.in'){ 
            document.getElementById('dropdownMenuLink').innerText='Select language'     
                setLanguageForTranslation('None');
        }else if (location.hostname === 'xn--c2bro4b8ab8d.xn--h2brj9c'){
            document.getElementById('dropdownMenuLink').innerText='Hindi-हिंदी'
                setLanguageForTranslation('Hindi',true);
        }else if (location.hostname === 'xn--d2b1ag0dl.xn--c2bro4b8ab8d.xn--h2brj9c'){
            document.getElementById('dropdownMenuLink').innerText='Marathi-मराठी'
                setLanguageForTranslation('Marathi',true);
        }else if (location.hostname === 'xn--xscro4b8ab1dzc.xn--2scrj9c'){
            console.log("inside kannada")
            document.getElementById('dropdownMenuLink').innerText='Kannada-ಕನ್ನಡ'
                setLanguageForTranslation('Kannada',true);
        }else if (location.hostname === 'xn--uwcjna1a5bb9d4cb.xn--rvc1e0am3e'){
            document.getElementById('dropdownMenuLink').innerText='Malayalam-മലയാളം'
                setLanguageForTranslation('Malayalam',true);
        }else if (location.hostname === 'xn--z5bro4b8ab8d.xn--45brj9c'){
            document.getElementById('dropdownMenuLink').innerText='Bengali-বাংলা'
                setLanguageForTranslation('Bengali',true);
        }else if (location.hostname === 'xn--35bokk7eif.xn--z5bro4b8ab8d.xn--45brj9c'){
            document.getElementById('dropdownMenuLink').innerText='Manipuri-মণিপুরী'
                setLanguageForTranslation('Manipuri',true);
        }else if (location.hostname === 'xn--becro4b8ab8d.xn--gecrj9c'){
            document.getElementById('dropdownMenuLink').innerText='Gujarati-ગુજરાતી'
                setLanguageForTranslation('Gujarati',true);
        }else if (location.hostname === 'xn-----btdbc3d4hd37blpqm.xn--mgbbh1a71e'){
            document.getElementById('dropdownMenuLink').innerText='Urdu-اردو '
                setLanguageForTranslation('Urdu',true);
        }else if (location.hostname === 'xn--n9bro8bukc7e.xn--s9brj9c'){
            document.getElementById('dropdownMenuLink').innerText='Punjabi-ਪੰਜਾਬੀ'
                setLanguageForTranslation('Punjabi',true);  
        }else if (location.hostname === 'xn--9ocro4b8ab1dzc.xn--fpcrj9c3d'){
            document.getElementById('dropdownMenuLink').innerText='Telugu-தமிழ்'
                setLanguageForTranslation('Telugu',true);
        }else if (location.hostname === 'xn--mlcrf6c8ab1dzc.xn--xkc2dl3a5ee0h'){
                document.getElementById('dropdownMenuLink').innerText='Tamil-తెలుగు'
                    setLanguageForTranslation('Tamil',true);
        }else if (location.hostname === 'xn--z5bro4b8ab8d.xn--45br5cyl'){
                document.getElementById('dropdownMenuLink').innerText='Assamese-অসমীয়া'
                    setLanguageForTranslation('Assamese',true);
        }else if (location.hostname === 'xn--i1b1bb0d0hoc.xn--c2bro4b8ab8d.xn--h2brj9c'){
                document.getElementById('dropdownMenuLink').innerText='Konkani-कोंकणी'
                    setLanguageForTranslation('Konkani',true);
        }else if (location.hostname === 'xn--yhcro4b8ab8d.xn--3hcrj9c'){
                document.getElementById('dropdownMenuLink').innerText='Odia-ଓଡିଆ' //Odia-ଓଡିଆ
                    setLanguageForTranslation('Oriya',true);
        }else if (location.hostname === 'xn--c2brfy4bwnt8d.xn--h2brj9c8c'){
                document.getElementById('dropdownMenuLink').innerText='Santali-संथाली' //Santali-संथाली
                    setLanguageForTranslation('Santali',true);
        }else if (location.hostname === 'xn--l2bey1cl2b.xn--c2bro4b8ab8d.xn--h2brj9c'){
                document.getElementById('dropdownMenuLink').innerText='Nepali-नेपाली' //Nepali-नेपाली
                    setLanguageForTranslation('Nepali',true);
        }else if (location.hostname === 'xn--c2bazt9b7bb5f1b.xn--h2brj9c'){
                document.getElementById('dropdownMenuLink').innerText='Dogri-डोगरी' //Dogri-डोगरी
                    setLanguageForTranslation('Dogri',true);
        }else if (location.hostname === 'xn--c2brxay7cbj7e.xn--h2brj9c'){
                document.getElementById('dropdownMenuLink').innerText='Boro-Boro' //Boro-Boro
                    setLanguageForTranslation('Boro',true);
        }else if (location.hostname === 'xn----ymcac5dzf1p7v.xn--mgbbh1a'){
                document.getElementById('dropdownMenuLink').innerText='Kashmiri-Kashmiri' //Kashmiri-Kashmiri
                    setLanguageForTranslation('Kashmiri',true);
        }else if (location.hostname === 'xn--i1b8e2b2ah.xn--c2bro4b8ab8d.xn--h2brj9c'){
                document.getElementById('dropdownMenuLink').innerText='Sindhi-सिंधी' //Sindhi-सिंधी
                    setLanguageForTranslation('Sindhi',true);
        }else if (location.hostname === 'xn--i2brn5cg8b.xn--c2bro4b8ab8d.xn--h2brj9c'){
                document.getElementById('dropdownMenuLink').innerText='Maithili-मैथिली' //Maithili-मैथिली
                    setLanguageForTranslation('Maithili',true);
        }else if (location.hostname === 'xn--c2bro4b8ab8d.xn--h2breg3eve'){
                document.getElementById('dropdownMenuLink').innerText='Sanskrit-संस्कृत' //Sanskrit-संस्कृत
                    setLanguageForTranslation('Sanskrit',true);
        }else{
            console.log("Inside else loop for localhost loop")
            document.getElementById('dropdownMenuLink').innerText='Select language'
                setLanguageForTranslation('Hindi',true);
         }            
    }
</script>

<script>
    $(document).ready(function () {
      $("#example").DataTable();
    });
  </script>
<script>
        $('#mainCarousel').carousel({
            interval: 1000
        });
</script>
<script>
    function myFunction() {
    return confirm("You are being redirected to an external website. Please note that Bhashanet is not responsible for external websites content & privacy policies. ");
}
</script>
<script>
    $(document).ready(function(){
$("#myModal").modal('show');
});

// $(document).ready(function(){
// $("#agendaModal").modal('show');
// });
</script>
<script>

    var searchInput = document.getElementById("searchTerm1");
    searchInput.addEventListener("keydown", function (e) {
        if (e.code === "Enter") {  //checks whether the pressed key is "Enter"
        elasticSearch1();
        }
    });

    function elasticSearch1() {
        let inputstring = document.getElementById('searchTerm1').value
        console.log(window.location.origin + window.location.pathname)
            // window.location.href = window.location.origin + window.location.pathname + "?id=search&search=" + inputstring + "&pageNo=0";
        window.location.href = window.location.origin + '/search_results' + "?id=search&search=" + inputstring + "&pageNo=0";
    }



</script>

<script>
    setTimeout(function(){
    $('#myModal').modal('hide')
  }, 5000);
</script>
<!-- Custom JavaScript -->
<script>
    function showModal() {
      var myModal = new bootstrap.Modal(document.getElementById('Modalonload'));
      #myModal.show();
      
      // Hide the modal after 10 seconds
      setTimeout(function(){
        myModal.hide();
      }, 10000); // 10000 milliseconds = 10 seconds
    }
  
    // Call the function whenever you need to show the modal
    showModal();
  </script>
  

  
  <script src="{% static 'core_app/assets/js/serviceforlpmfintegration.js'%}"></script>




</body>
</html>
