{% extends 'core_app/base.html' %}
{% load static %}

{% block gallery %}
<div class="card-box ua-card-header--bg-blk" id="main-content">
   <div class="container">
      <div class="row">
         <div class="col-md-12 col-12">
            <div class="ua-small-info-box">
               <div class="horizontal-rule">
                  <h1 class=" h2 heading4">Gallery</h1>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="breadcrumb-bar">
   <div class="container">
      <div class="row">
         <div class="col-md-12 col-12">
            <div class="breadcrumb-list">
               <nav aria-label="breadcrumb" class="page-breadcrumb">
                  <ol class="breadcrumb">
                     <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                     <li class="breadcrumb-item" aria-current="page">Gallery</li>
                  </ol>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- ====== gallery section Starts ====== -->
<section class="section">
   <div class="container pb-5">
      <div>
         <hr>
         <h2 class="my-3">
            UA Day Event Held on 27th-28th March 2023
         </h2>
         <hr>
         <div class="row">
            <div class="col-lg-4 col-md-6 d-flex mb-5">
               <div class="ua-box d-flex aos" data-aos="fade-up">
                  <div class="gallery-item">
                     <div class="gallery-item-img">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item w-100" src="https://www.youtube.com/embed/zwyKaqBIG1E" allowfullscreen></iframe>
                        </div>
                     </div>
                     <div class="gallery-item-content">
                        <p class="title ua-card--text text-center fw-blod" style="width:412px;">Making your website Universal Acceptance ready: Way Forward</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex mb-5 mt-2">
               <div class="ua-box d-flex aos" data-aos="fade-up">
                  <div class="gallery-item">
                     <div class="gallery-item-img">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item w-100" src="https://www.youtube.com/embed/GXUkk1lNsDQ" allowfullscreen></iframe>
                        </div>
                     </div>
                     <div class="gallery-item-content">
                        <p class="title ua-card--text text-center fw-blod" style="width:412px;">Workshop on Making Your email platform UA Ready</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex mb-5 mt-2">
               <div class="ua-box d-flex aos" data-aos="fade-up">
                  <div class="gallery-item">
                     <div class="gallery-item-img">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item w-100" src="https://www.youtube.com/embed/bpuGM7Z5M1U" allowfullscreen></iframe>
                        </div>
                     </div>
                     <div class="gallery-item-content">
                        <p class="title ua-card--text text-center fw-blod" style="width:412px;">Curtain Raiser</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex mb-5 mt-2">
               <div class="ua-box d-flex aos" data-aos="fade-up">
                  <div class="gallery-item">
                     <div class="gallery-item-img">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item w-100" src="https://www.youtube.com/embed/dd2R_QE24vQ" allowfullscreen></iframe>
                        </div>
                     </div>
                     <div class="gallery-item-content">
                        <p class="title ua-card--text text-center fw-blod" style="width:412px;">IDN’s and EAI in Indian Languages – Outlook and Overview</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex mb-5 mt-2">
               <div class="ua-box d-flex aos" data-aos="fade-up">
                  <div class="gallery-item">
                     <div class="gallery-item-img">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item w-100" src="https://www.youtube.com/embed/xXeI7iMPbr0" allowfullscreen></iframe>
                        </div>
                     </div>
                     <div class="gallery-item-content">
                        <p class="title ua-card--text text-center fw-blod" style="width:412px;">Inaugural</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex mb-5 mt-2">
               <div class="ua-box d-flex aos" data-aos="fade-up">
                  <div class="gallery-item">
                     <div class="gallery-item-img">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item w-100" src="https://www.youtube.com/embed/9O7kSSZnu3k" allowfullscreen></iframe>
                        </div>
                     </div>
                     <div class="gallery-item-content">
                        <p class="title ua-card--text text-center fw-blod" style="width:412px;">Panel Discussion Session</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex mb-5 mt-2">
               <div class="ua-box d-flex aos" data-aos="fade-up">
                  <div class="gallery-item">
                     <div class="gallery-item-img">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item w-100" src="https://www.youtube.com/embed/jwRxmfkggm4" allowfullscreen></iframe>
                        </div>
                     </div>
                     <div class="gallery-item-content">
                        <p class="title ua-card--text text-center fw-blod" style="width:412px;">Panel Discussion Session on “Technology enablement for universal acceptance</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex mb-5 mt-2">
               <div class="ua-box d-flex aos" data-aos="fade-up">
                  <div class="gallery-item">
                     <div class="gallery-item-img">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item w-100" src="https://www.youtube.com/embed/hdIkIcNb0C8" allowfullscreen></iframe>
                        </div>
                     </div>
                     <div class="gallery-item-content">
                        <p class="title ua-card--text text-center fw-blod" style="width:412px;">Case Studies Presentation</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex mb-5 mt-2">
               <div class="ua-box d-flex aos" data-aos="fade-up">
                  <div class="gallery-item">
                     <div class="gallery-item-img">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item w-100" src="https://www.youtube.com/embed/9QkRPAdMnoE" allowfullscreen></iframe>
                        </div>
                     </div>
                     <div class="gallery-item-content">
                        <p class="title ua-card--text text-center fw-blod" style="width:412px;">Bhasini and Multilingual Internet</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex mb-5 mt-2">
               <div class="ua-box d-flex aos" data-aos="fade-up">
                  <div class="gallery-item">
                     <div class="gallery-item-img">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item w-100" src="https://www.youtube.com/embed/MSsif0yV348" allowfullscreen></iframe>
                        </div>
                     </div>
                     <div class="gallery-item-content">
                        <p class="title ua-card--text text-center fw-blod" style="width:412px;">Valedictory Session</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      <hr>
      <div>
         <h2 class=" h5 my-3">
            UA Informative Videos' %}
         </h2>
         <hr>
         <div class="row">
            <div class="col-lg-4 col-md-6 d-flex mb-5 mt-2">
               <div class="ua-box d-flex aos" data-aos="fade-up">
                  <div class="gallery-item">
                     <div class="gallery-item-img">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item w-100" src="https://www.youtube.com/embed/-pqZquq846Y" allowfullscreen></iframe>
                        </div>
                     </div>
                     <div class="gallery-item-content">
                        <p class="title ua-card--text text-center fw-blod" style="width:412px;">Universal Acceptance: A Key to Unlocking Growth Opportunities for Startups and MSMEs</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex mb-5 mt-2">
               <div class="ua-box d-flex aos" data-aos="fade-up">
                  <div class="gallery-item">
                     <div class="gallery-item-img">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item w-100" src="https://www.youtube.com/embed/tWIuO9x-reA" allowfullscreen></iframe>
                        </div>
                     </div>
                     <div class="gallery-item-content">
                        <p class="title ua-card--text text-center fw-blod" style="width:412px;">Bridging the Language Gap with Universal Acceptance and its Capacity Building</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex mb-5 mt-2">
               <div class="ua-box d-flex aos" data-aos="fade-up">
                  <div class="gallery-item">
                     <div class="gallery-item-img">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item w-100" src="https://www.youtube.com/embed/GwIm24xCr8w" allowfullscreen></iframe>
                        </div>
                     </div>
                     <div class="gallery-item-content">
                        <p class="title ua-card--text text-center fw-blod" style="width:412px;">Virtual Training Programme on Universal Acceptance (UA) Readiness</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex mb-5 mt-2">
               <div class="ua-box d-flex aos" data-aos="fade-up">
                  <div class="gallery-item">
                     <div class="gallery-item-img">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item w-100" src="https://www.youtube.com/embed/8tO7ijkt7yI" allowfullscreen></iframe>
                        </div>
                     </div>
                     <div class="gallery-item-content">
                        <p class="title ua-card--text text-center fw-blod" style="width:412px;">1st Student Internet Governance Forum (SIGF) Conference</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex mb-5 mt-2">
               <div class="ua-box d-flex aos" data-aos="fade-up">
                  <div class="gallery-item">
                     <div class="gallery-item-img">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item w-100" src="https://www.youtube.com/embed/7_DrDfcpAV4" allowfullscreen></iframe>
                        </div>
                     </div>
                     <div class="gallery-item-content">
                        <p class="title ua-card--text text-center fw-blod" style="width:412px;">Voice Based Internet for Indian Requirements</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex mb-5 mt-2">
               <div class="ua-box d-flex aos" data-aos="fade-up">
                  <div class="gallery-item">
                     <div class="gallery-item-img">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item w-100" src="https://www.youtube.com/embed/lqP9QQ7t_8M" allowfullscreen></iframe>
                        </div>
                     </div>
                     <div class="gallery-item-content">
                        <p class="title ua-card--text text-center fw-blod" style="width:412px;">Interactive Session with Mr Jia-Rong Low, ICANN on “Multilingual Internet and Universal Acceptance"</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex mb-5 mt-2">
               <div class="ua-box d-flex aos" data-aos="fade-up">
                  <div class="gallery-item">
                     <div class="gallery-item-img">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item w-100" src="https://www.youtube.com/embed/xjBmIQX9B0g" allowfullscreen></iframe>
                        </div>
                     </div>
                     <div class="gallery-item-content">
                        <p class="title ua-card--text text-center fw-blod" style="width:412px;">The Role of Country Code Top-Level Domains (ccTLDs) in Achieving Universal Acceptance</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- ====== gallery section Ends ====== -->
{% comment %} <div class="container">
    <!-- ====== gallery section Starts ====== -->

	<div class="row d-flex justify-content-center">
		<div class="col-md-12">
			
			<div id="videoGallery" class="video-gallery">
                <div class="row py-2">
                    <div class="col-md-4 col-md-offset-2 mb-2">
                        <div class="columns medium-3">
                            <select name="category" id="filter" class="form-select">
                              <option selected="selected" value="">View All</option>
                              <option value="UA Day 2023">UA Day 2023</option>
                              <option value="UA Day 2022">UA Day 2022</option>
                            
                            </select> 
                          </div>
                    </div>
                    <div class="col-md-6 mb-2"> <div class="columns medium-9">
                        <input id="search" class="search form-control" type="text" placeholder="search">
                      </div>
                    </div>
                    
                </div>
                <!-- Video -->
                <div class="row" data-video-container style="display:none;">
                  <div class="columns medium-12">
                    <div class="flex-video widescreen">
                      <iframe data-video width="1600" height="900" src="" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
               
                
                
                
                
                <!-- Thumbnails -->
                <div id="thumbnails" class="list row small-up-1 medium-up-2 large-up-3">
                <div class="col-md-4">
                  <div class="column">
                    <a href="?id=DUWTT75xt6w&title=Introduction+to+the+Referral+Maker+App">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item w-100" src="https://www.youtube.com/embed/XGOFqf2yHf0" allowfullscreen></iframe>
                         </div>
                      <span class="name"><strong>Introduction to the Referral Maker App</strong></span><br />
                      <span>Published Date : 21/04/2023</span><br />
                      <span class="category">UA Day 2023</span>
                    </a>
                  </div> 
              </div>
              <div class="col-md-4">	
                  <div class="column">
                    <a href="?id=ajNBSD5zeQo&title=Referral+Maker+CRM+Goals">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item w-100" src="https://www.youtube.com/embed/XGOFqf2yHf0" allowfullscreen></iframe>
                         </div>
                      <span class="name"><strong>Referral Maker CRM Goals</strong></span><br />
                      <span>Published Date : 21/04/2023</span><br />
                      <span class="category">UA Day 2023</span>
                    </a>
                  </div>
                  </div>
                  <div class="col-md-4">
                  <div class="column">
                    <a href="?id=tylg0IfWEbU&title=Referral+Maker+CRM+Priority+Action+Center">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item w-100" src="https://www.youtube.com/embed/XGOFqf2yHf0" allowfullscreen></iframe>
                         </div>
                      <span class="name"><strong>Referral Maker CRM Priority Action Center</strong></span><br />
                      <span>Published Date : 21/04/2023</span><br />
                      <span class="category">UA Day 2023</span>
                    </a>
                  </div>
                  </div>
                  <div class="col-md-4">
                  <div class="column">
                    <a href="?id=xXsrZblTa-U&title=Referral+Maker+CRM+App+Pop-By+Area">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item w-100" src="https://www.youtube.com/embed/XGOFqf2yHf0" allowfullscreen></iframe>
                         </div>
                      <span class="name"><strong>Referral Maker CRM App Pop-By Area</strong></span><br />
                      <span>Published Date : 21/04/2023</span><br />
                      <span class="category">UA Day 2023</span>
                    </a>
                  </div>
                  </div>
                  <div class="col-md-4">
                  <div class="column">
                    <a href="?id=vb933-JveIQ&title=Referral+Maker+CRM+To-Do+Section">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item w-100" src="https://www.youtube.com/embed/XGOFqf2yHf0" allowfullscreen></iframe>
                         </div>
                      <span class="name"><strong>Referral Maker CRM To-Do Section</strong></span><br />
                      <span>Published Date : 21/04/2023</span><br />
                      <span class="category">UA Day 2022</span>
                    </a>
                  </div>
                  </div>
                  <div class="col-md-4">
                  <div class="column">
                    <a href="?id=w0_Jj83yGvs&title=Referral+Maker+CRM+Mobile+App+Calendar">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item w-100" src="https://www.youtube.com/embed/XGOFqf2yHf0" allowfullscreen></iframe>
                         </div>
                      <span class="name"><strong>Referral Maker CRM Mobile App Calendar</strong></span><br />
                      <span>Published Date : 21/04/2023</span><br />
                      <span class="category">UA Day 2022</span>
                    </a>
                  </div>
                  </div>
                </div><!-- End Row -->
              
               
              </div><!-- End search-results -->
		</div>
	</div>
    <!-- ====== gallery section Ends ====== -->

    </div>
</div> {% endcomment %}
{% endblock %}