{% extends 'core_app/base.html' %}
{% load static %}

{% block success_stories %}

<style>
@-webkit-keyframes blinker {
   from {opacity: 1.0;}
   to {opacity: 0.4;}
 }

.blink {
   text-decoration: blink;
   -webkit-animation-name: blinker;
   -webkit-animation-duration: 0.5s;
   -webkit-animation-iteration-count:infinite;
   -webkit-animation-timing-function:inherit;
   -webkit-animation-direction: alternate;
}
</style>

<div class="card-box ua-card-header--bg-blk">
  <div class="container">
     <div class="row">
        <div class="col-md-12 col-12">
           <div class="ua-small-info-box">
              <div class="horizontal-rule">
                 <h1 class=" h2 heading4">IDN Ready Websites</h1>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>

<section>
  <div class="container mt-2">
     <div class="row">
        <div class="col-lg-12">
           <div class="breadcrumb-bar ">
              <div class="container">
                 <div class="row">
                  <div class="col-md-12 col-12 d-flex justify-content-between">
                     <div class="breadcrumb-list">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                           <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                              {% comment %} <li class="breadcrumb-item">Resources</li> {% endcomment %}
                              <li class="breadcrumb-item">IDN Ready Websites</li>
                           </ol>
                        </nav>
                     </div>
                     <div class="col-4">
                        <div class="text-end text-success fw-blod" dir='ltr'>Total Websites: {{idn_websites | length}} <br/><span class="small-font text-dark">* Recently Added</span></div>
                     </div>
                  </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>



<div class="page-content" id="main-content">
  <div class="container">
    {% comment %} <div class="row d-flex justify-content-end">

        <div class="col-lg-12 d-flex flex-row-reverse">
        <a href="{% url 'idn_websites_request' %}" class="btn btn-danger blink"><strong>Click here raise request for IDN websites</strong></a>
        </div>

     </div> {% endcomment %}
     <div class="row">
         <div class="col-lg-3">
            <div class="card search-filter">
               <div class="card-body">
                  <div class="filter-widget mb-0">
                     <div class="categories-head d-flex align-items-center rounded-3 px-1" style="background-color:#007bff">
                        <h2 class="h5 text-white p-1 pt-2">Categories</h2>
                        {% comment %} <i class="fas fa-angle-down"></i> {% endcomment %}
                     </div>
                              
                     <form method="POST">
                        {% csrf_token %}
                        <div class="pt-1">{{form.select_category}}</div>
                        <div class="filter-widget mb-0">
                           <div class="categories-head d-flex align-items-center rounded-3 px-1" style="background-color:#007bff">
                              <h2 class="h5 text-white p-1 pt-2">Languages</h2>
                              {% comment %} <i class="fas fa-angle-down"></i> {% endcomment %}
                           </div>
                           <div class="pt-1"> {{form.select_language}}</div>
                        </div> 
                        <div class="d-flex justify-content-center">
                           <button class="btn btn-primary mb-3 me-3" type="submit" name="filter" value="filter">Filter</button>
                           <button class="btn btn-primary mb-3" type="submit" name="filter" value="reset">Reset</button>
                        </div>
                     </form>
                            
                     </div>
                  </div>
               </div>
            </div>
                     <div class="col-lg-9">
                        {% for idn_website in page_obj %}
                        <div class="col-lg-12 col-md-6 col-sm-12 col-12 box-shadow-card p-3 my-3">
                           <div class="row">
                              <div class="col-md-3">
                                 <div class="ua-card-header--img">
                                    <a href="https://bhashanet.in/idn_websites/1#">
                                    <img class="img-fluid w-100" alt="Iconic image of document" src="/media/{{idn_website.IDNReadyWebsites_Logo}}">
                                    </a>
                                 </div>
                                 <div class="ua-card-header--badge text-center">
                                    {% for category in idn_website.IDNReadyWebsites_Category.all %}
                                    <span class="web-badge">Category : {{ category }}</span>
                                    {% endfor %}
                                 </div>
                                 <div class="ua-card-header--badge text-center">
                                    {% for obj in last_updated_date %}
                                       {% if obj.web == idn_website.IDNReadyWebsites_Title %}
                                          <span class="small-font">Updated On: {{obj.date}}</span>
                                      {% endif %} 
                                    {% endfor %}
                                 </div>
                              </div>
                              <div class="col-md-9">
                                    <div class="">
                                    <h3 class="stpi-heading">{{ idn_website }}</h3>
                                    {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit laboriosam, dicta tenetur perferendis excepturi blanditiis laborum magni est modi magnam aperiam.</p> {% endcomment %}
                                    <hr class="horizontal-rule">
                                    <div class="ua-card-header--info">
                                       <div class="date-img d-flex align-items-center">
                                          <img src="https://bhashanet.in/idn_websites/assets/img/icon/icon-01.svg" class="me-1" alt="">
                                       </div>
                                    </div>
                                   
                                    <div class="d-flex flex-wrap justify-content-start">
                                       {% for story in success_stories %}
                                          {% if idn_website.id is story.IDNReadyWebsites_id %}
                                             <span class="badge me-2 badge-lg badge-english mb-2 badge-width" >{{story.IDNReadyWebsites_lang}}: <a href='https://{{story.IDNReadyWebsites_url}}' target='_blank' >{{story.IDNReadyWebsites_url}} </a><span>{% for obj in last_updated_date%} {% for url in obj.urls %}{% if url.IDNReadyWebsites_url == story.IDNReadyWebsites_url %}*{% endif %}{% endfor %}{% endfor %}</span></span>
                                             
                                             <!-- Add more tags as needed -->
                                          {%endif%}
                                       {%endfor%}  
                                    </div> 
                                       
                                 </div>
                              </div>
                           </div>
                        </div>
                        {%endfor%}
                        <div class="row">
                           {% comment %} <ul class="pagination lms-page lms-pagination d-flex justify-content-center">
                              {% for page_number in page.paginator.page_range %}
                              <li class="page-item">
                                 <a
                                    href="{% url 'idn_websites' page_number %}"
                                    class="{% if page_number == page.number %}current text-white{% endif %} page-link"
                                 >
                                 {{page_number}}
                                 </a>
                              </li>
                              {% endfor %}
                           </ul>  {% endcomment %}

                           <div class="col-md-12">
                              <p>Page:{{page.number}}/{{ page.paginator.num_pages}}</p>
                              <ul class="pagination lms-page lms-pagination">
                                 <li class="page-item prev"> {% if page.has_previous %} <a class="page-link"
                                       href="?page={{page.previous_page_number}}" tabindex="-1">Prev</a>
                                    {% endif %} </li> {% for num_page in page.paginator.page_range %} {% if page.number == num_page %}
                                 <li class="page-item active"> <a class="page-link"
                                       href="?page={{num_page}}">{{num_page}}<span
                                          class="sr-only">(current)</span></a> </li> {% else %}
                                 <li class="page-item"> <a class="page-link"
                                       href="?page={{num_page}}">{{num_page}}<span
                                          class="sr-only">(current)</span></a> </li> {% endif %} {% endfor %}
                                 <li class="page-item next"> {% if page.has_next %} <a class="page-link"
                                       href="?page={{page.next_page_number}}">Next</a> {% endif %} </li>
                              </ul>
                           </div>


                        </div>
                       
                     </div>
                     <div class="shadow-lg p-3  bg-body-tertiary rounded-3p-3">
                        <div style="text-align: justify">
                           <strong>&nbsp Disclaimer : </strong><small>The aforementioned data is collated from diverse resources and is subject to periodic revisions. The organization, authors, and contributors disclaim any responsibility for inaccuracies or disparities in the provided information. Users are encouraged to cross-verify details independently as the data is subject to change, and no guarantees are implied or expressed regarding its absolute accuracy. To report any descrepency in data please send mail to support@bhashanet.in</small>
                        </div>
                     </div>
                     
    </div>

  
  </div>
</div>

<script>
    window.addEventListener("DOMContentLoaded", function() {
      console.log("in side load ",{{selected_languages | safe}})
      selected_languages = {{selected_languages | safe}}
      selected_categories = {{selected_categories | safe}}
      selected_languages.forEach((ele)=>{
         //let id = ele-1 
         console.log("checking language ",document.getElementById(`id_select_language_${ele-1}`).checked == true)
         if (!document.getElementById(`id_select_language_${ele-1}`).checked)
         document.getElementById(`id_select_language_${ele-1}`).checked = true
      })
      selected_categories.forEach((ele)=>{
         //let id = ele-1 
         console.log("checking category ",document.getElementById(`id_select_category_${ele-1}`))
         if (!document.getElementById(`id_select_category_${ele-1}`).checked)
         document.getElementById(`id_select_category_${ele-1}`).checked = true
      })
    }, false);
</script>
{% endblock %}