{% extends 'core_app/base.html' %}
{% load static %}

{% block ua_india_programme %}
      <div class="card-box ua-card-header--bg-blk" id="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-12">
                        <div class="ua-small-info-box">
                            <div class="horizontal-rule">
                                <h1 class=" h2 heading4">UA India Programme</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-12">
                        <div class="breadcrumb-list">
                            <nav aria-label="breadcrumb" class="page-breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                    <li class="breadcrumb-item" aria-current="page">UA India Programme</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="page-content ua-sec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-sub-section-sec">
                            <div class="card-body">
                                <!-- <div class="text-center">
                                    <img class="img-fluid" src="{% static 'core_app/assets/img/vision.gif' %}" alt="globe animation with indian domain inside"/>
                                </div> -->
                                <p class="custom-justify">{{obj_data.UAIndiaProgramme_Description1 | safe}}</p>
                                <p class="custom-justify">{{obj_data.UAIndiaProgramme_Description2 | safe}} </p>
                                <p class="custom-justify">{{obj_data.UAIndiaProgramme_Description3 | safe}}</p>

                            </div>
                            <div>
                                <h4 class="mb-5 px-4" style="text-decoration:underline"><a target="_blank" href="{% static 'core_app/assets/documents/uadocument.pdf' %}" >{{obj_data.UAIndiaProgramme_Subtitle5}}</a></h4>
                            </div>
                            <h2 class="subs-title px-4">{{obj_data.UAIndiaProgramme_Subtitle4}} </h2>
                            <img class="img-fluid w-75 mx-auto py-2" src="/media/{{obj_data.UAIndiaProgramme_Image4}}" alt="UA INDIA Programme Infographics">
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}