{% extends 'core_app/base.html' %} {% load static %} {% load i18n %}

{% block forgot_password_token_page %}

  <div class="container my-5 d-flex justify-content-center">
    <div class="col-8 mx-4 my-5 card shadow p-4 mb-5 bg-white rounded-4 text-center">
           <div class="col"> 
            <img src="{% static './core_app/assets/img/failure.png' %}" class="my-5">
           </div>
           {% if message %}
            <h3 class="fw-semibold fs-4"> {{message}}</h3>
           {% endif %}
           {% if link %}
          <a href={% url link %} class="fs-6 fw-semibold">Back to {% if link == 'forgot_password' %}forgot password{% else %}{{link}}{% endif %}</a>
          {% endif %}
    </div>
  </div>

{% endblock %}