{% extends 'core_app/base.html' %} {% load static %}

{% block otp_form %}


<div class="card-box ua-card-header--bg-blk">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-12">
        <div class="ua-small-info-box">
          <div class="horizontal-rule">
            <h1 class="h2 heading4">OTP Form</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="container mt-2">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-bar">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-12">
                <div class="breadcrumb-list">
                  <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">Home</a>
                      </li>
                      <li class="breadcrumb-item">OTP Form</li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-content ua-sec" id="main-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 mx-auto">
        <div>
          {% if messages %} 
          {% for message in messages %}
          <div class="alert alert-{{message.extra_tags}} alert-dismissible" role="alert">
            <strong> {% if message.tags %}{{message}}{% endif %}</strong>
          </div>
          {% endfor %} {% endif %}
        </div>

        <div style="color: red">
          {% if form.non_field_errors %} 
          {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
          {% endfor %} {% endif %}
        </div>
        <div class="support-wrap shadow-sm bg-white px-3 py-5">
          <form method="POST" novalidate>
            {% csrf_token %}
            <div class="form-group">
              <label for="Feedback_Email" class="form-label">Enter OTP</label>
              {{form.otp}}
            </div>
            <div class=" mt-3">
              <button class="btn btn-primary btn-lg" name="submit">Submit</button>
            </div>
            <div class=" mt-3">
                <button class="link-danger" type="submit" name="resent">Resent OTP</button>
              </div>
          </form>
        {% comment %} <div class="text-center fw-bold fs-6 mt-2">Already Registered User | <a class="text-primary" href="{% url 'login_view'%}">Login</a></div> {% endcomment %}
        </div>
  </div>
</div>
</div>
</section>



{% endblock %}
