{% extends 'core_app/base.html' %}
{% load static %}
{% block success_page %}
 
  <div class="container my-5 d-flex justify-content-center">
    <div class="col-8 mx-4 my-5 card shadow p-4 mb-5 bg-white rounded-4 text-center">
           <div class="col"> 
            <img src="{% static './core_app/assets/img/success2.png' %}" class="my-5">
           </div>
           {% if message %}
            <h3 class="fw-semibold fs-4"> {{message}}</h3>
           {% endif %}
          <a href="{% url 'login_view' %}" class="fs-6 fw-semibold">Back to login</a>
    </div>
  </div>
{%endblock%}