# Default Database Parameters
DEFAULT_DATABASE_NAME=
DEFAULT_DATABASE_USER=
DEFAULT_DATABASE_PASSWORD=
DEFAULT_DATABASE_HOST=

# OS Ticket Database Parameters
OSTICKET_DATABASE_NAME=
OSTICKET_DATABASE_USER=
OSTICKET_DATABASE_PASSWORD=
OSTICKET_DATABASE_HOST=

# EMAIL Settings Parameters
EMAIL_HOST=
EMAIL_PORT=
SERVER_EMAIL=''
EMAIL_HOST_USER=SERVER_EMAIL
EMAIL_HOST_PASSWORD=''
EMAIL_USE_TLS = True
DEFAULT_FROM_EMAIL = EMAIL_HOST_USER
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'

# OTHERS Settings Parameters but we have to rename it 
LANGUAGE_PATHS=
LANGUAGE_DOMAINS=
DEBUG=False
DOMAIN=http://bhashanet.in:8001
Html_Data=
WAPPALIZER_DATA=
TLD_DATA=