# Default Database Parameters
DEFAULT_DATABASE_NAME=bhashanet_v2_db
DEFAULT_DATABASE_USER=root
DEFAULT_DATABASE_PASSWORD=g!$t
DEFAULT_DATABASE_HOST=10.208.37.167

# OS Ticket Database Parameters
OSTICKET_DATABASE_NAME=os_ticket_db
OSTICKET_DATABASE_USER=root
OSTICKET_DATABASE_PASSWORD=manager
OSTICKET_DATABASE_HOST=localhost

# EMAIL Settings Parameters
EMAIL_HOST=smtp.cdac.in
EMAIL_PORT=587
SERVER_EMAIL=''
EMAIL_HOST_USER=SERVER_EMAIL
EMAIL_HOST_PASSWORD=''
EMAIL_USE_TLS = True
DEFAULT_FROM_EMAIL = EMAIL_HOST_USER
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'

# OTHERS Settings Parameters but we have to rename it 
LANGUAGE_PATHS=
LANGUAGE_DOMAINS=
DEBUG=False
DOMAIN=http://bhashanet.in:8001
Html_Data=
WAPPALIZER_DATA=
TLD_DATA=