<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <!-- theme meta -->
    <meta name="theme-name" content="quixlab" />

    <title>Bhashanet Admin Dashboard</title>

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png" />

    <!-- Include jQuery -->
    <script src="{% static 'admin_app/js/jquery.min.js' %}"></script>

    <!-- Pignose Calender -->
    <link href="{% static 'admin_app/plugins/pg-calendar/css/pignose.calendar.min.css' %}" rel="stylesheet" />

    <!-- Chartist -->
    <link rel="stylesheet" href="{% static 'admin_app/plugins/chartist/css/chartist.min.css' %}" />
    <link rel="stylesheet" href="{% static 'admin_app/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css' %}" />

    <!-- Custom Stylesheet -->
    <link href="{% static 'admin_app/css/style.css' %}" rel="stylesheet" />

    <!-- Dashboard2 Datatable CSS Files -->
    <link href="{% static 'admin_app/css/datatable/dataTables.dataTables.css' %}" rel="stylesheet" />
    <link href="{% static 'admin_app/css/datatable/buttons.dataTables.css' %}" rel="stylesheet" />

    <!-- Dashboard2 Datatable Buttons JS Files -->
    <script src="{% static 'admin_app/js/datatable/dataTables.js' %}"></script>
    <script src="{% static 'admin_app/js/datatable/dataTables.buttons.js' %}"></script>
    <script src="{% static 'admin_app/js/datatable/buttons.dataTables.js' %}"></script>
    <script src="{% static 'admin_app/js/datatable/jszip.min.js' %}"></script>
    <script src="{% static 'admin_app/js/datatable/buttons.html5.min.js' %}"></script>
    <script src="{% static 'admin_app/js/datatable/buttons.print.min.js' %}"></script>

    <!-- Chartjs -->
    <script src="{% static 'admin_app/plugins/chart.js/Chart.bundle.min.js' %}"></script>
  </head>

  <body>
    <!-- ***********Preloader Starts ************* -->
    <div id="preloader">
      <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
        </svg>
      </div>
    </div>
    <!-- ***********Preloader Ends ************* -->

    <!-- ***********Main wrapper Starts ************* -->
    <div id="main-wrapper">
      {% include 'admin_app/navbar.html' %}

      {% include 'admin_app/topbar.html' %}

      {% include 'admin_app/sidebar.html' %}

      <!-- ***********Content body starts************* -->
      <div class="content-body">
        {% block home_content %}

        {% endblock %}

        {% block url_add_form_content %}

        {% endblock %}

        {% block total_record_table_content %}

        {% endblock %}

        {% block idn_domain_record_content %}

        {% endblock %}

        {% block idn_domain_forms_content %}

        {% endblock %}

        {% block dashboard_content %}

        {% endblock %}

        {% block email_compose %}

        {% endblock %}

        {% block sent_email_view_content %}

        {% endblock %}

        {% block sent_email_view_detail %}

        {% endblock %}

        {% block edit_idn_domain_forms_content %}

        {% endblock %}

        {% block barchart_content %}

        {% endblock %}

        {% block log_content %}

        {% endblock %}

        {% block upload_excel_file_content %}

        {% endblock %}

        {% block dashboard2_content %}

        {% endblock %}

        {% block admin_login_content %}

        {% endblock %}

        {% block idn_domain_list_content %}

        {% endblock %}

        {% block english_domain_list_content %}

        {% endblock %}


        <!--ADD BLOG STARTS -->
        {% block add_blog %}
        {% endblock %}
        <!---ADD BLOG ENDS -->

        <!--ADD BLOG DATATABLE STARTS -->
        {% block blog_datatable %}
        {% endblock %}
        <!---ADD BLOG DATATABLE ENDS -->

        <!-- user_register STARTS -->
        {% block user_register %}
        {% endblock %}
        <!-- user_register ENDS -->

        <!-- user_login STARTS -->
        {% block user_login %}
        {% endblock %}
        <!-- user_login ENDS -->

        <!-- user_profile STARTS -->
        {% block user_profile %}
        {% endblock %}
        <!-- user_profile ENDS -->


        {% block otp_form %}
        {% endblock  %}




        
      </div>
      <!-- ***********Content body end************* -->

      {% include 'admin_app/footer.html' %}
    </div>
    <!-- ***********Main wrapper Ends ************* -->

    {% include 'admin_app/footer_jsfiles.html' %}
  </body>
</html>
