{% extends base_template %}
{% load static %} 

{% block change_password %}

<div class="card-box ua-card-header--bg-blk">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-12">
        <div class="ua-small-info-box">
          <div class="horizontal-rule">
            <h1 class="h2 heading4">Change Password</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="container mt-2">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-bar">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-12">
                <div class="breadcrumb-list">
                  <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">Home</a>
                      </li>
                      <li class="breadcrumb-item">Change Password</li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-content ua-sec" id="main-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 mx-auto">
        <div>
          {% if messages %} 
          {% for message in messages %}
          <div class="alert alert-{{message.extra_tags}} alert-dismissible" role="alert">
            <strong> {% if message.tags %}{{message}}{% endif %}</strong>
          </div>
          {% endfor %} {% endif %}
        </div>

        <div style="color: red">
          {% if form.non_field_errors %} 
          {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
          {% endfor %} {% endif %}
        </div>
        <div class="support-wrap shadow-sm bg-white px-3 py-5">
          <form method="POST" novalidate>
            {% csrf_token %}
            <div class="form-group">
              <label for="Feedback_Email" class="form-label">Old Password</label>
              {{form.old_password}}
            </div>
            <div class="form-group">
              <label for="Feedback_Email" class="form-label">New Password<i class="fa fa-question-circle fa-sm" aria-hidden="true" title="Password must contain minimum 8 characters with minimum 1 uppercase character, 1 lowercase character, 1 number and 1 special symbol"></i></label>
              {{form.new_password}}
            </div>
            <div class="form-group">
              <label for="Feedback_Email" class="form-label">Confirm New Password</label>
              {{form.confirm_password}}
            </div>

            <div class=" mt-3">
              <button class="btn login-form__btn submit w-100" style="color:white;">Change Password</button>
            </div>
          </form>
        </div>
  </div>
</div>

</section>

{% endblock %}
