{% extends 'admin_app/base.html' %}
{% load static %}
{% block edit_idn_domain_forms_content %}
  <div class="container-fluid mt-3">
    <!-- Error Block Starts -->
    <div class="row">
      {% if messages %}
        {% for message in messages %}
          <div class="col-lg-12">
            <div class="alert alert-primary">{{ message }}</div>
          </div>
        {% endfor %}
      {% endif %}

      {% if idn_dashboard_form_obj.non_field_errors %}
        {% for error in idn_dashboard_form_obj.non_field_errors %}
          <div class="col-lg-12">
            <div class="alert alert-primary">{{ error|escape }}</div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <!-- Error Block Ends -->

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Add New IDN Domain</h4>
            <div class="basic-form">
              <form method="POST" action="" novalidate>
                {% csrf_token %}
                <div class="form-group">
                  <label>Select English Domain</label>
                  {{ idn_dashboard_form_obj.English_domain }}
                </div>
                <div class="form-group">
                  <label>Select IDN Language</label>
                  {{ idn_dashboard_form_obj.Language }}
                </div>
                <div class="form-group">
                  <label>Enter IDN URL</label>
                  {{ idn_dashboard_form_obj.IDN_domain }}
                </div>
                <div class="form-group">
                  <input type="hidden" name="form_type" value="IDNDOMAINFORM" />
                </div>

                <div class="outline-button">
                  <a class="btn mb-1 btn-outline-primary" href="{% url 'dashboard:dashboard2' %}">Back</a>
                  <button type="submit" class="btn mb-1 btn-outline-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
