{% load static %}
<script src="{% static 'admin_app/plugins/common/common.min.js' %}"></script>
<script src="{% static 'admin_app/js/custom.min.js' %}"></script>
<script src="{% static 'admin_app/js/settings.js' %}"></script>
<script src="{% static 'admin_app/js/gleek.js' %}"></script>
<script src="{% static 'admin_app/js/styleSwitcher.js' %}"></script>


<!-- Circle progress -->
<script src="{% static 'admin_app/plugins/circle-progress/circle-progress.min.js' %}"></script>


 
<!-- Pignose Calender -->
<script src="{% static 'admin_app/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'admin_app/plugins/pg-calendar/js/pignose.calendar.min.js' %}"></script>



 
