{% load static %}

<!--                          **********************************
            Nav header start
        ***********************************                          -->
{% if request.user.is_authenticated %}
<div class="nav-header">
  <div class="brand-logo">
    <a href="{% url 'admin_app:dashboard2' %}" class="d-flex flex-column align-items-center">
      <b>
        <span class="logo-abbr logo-compact text-black" style="font-size:16px">
          Admin
         </span>
      </b>

      <span class="brand-title">
        <img class="img-fluid w-100 mx-auto" src="{% static 'admin_app/images/bhashanet-logo.png' %}" alt="Your Logo">
      </span>
    </a>
  </div>
</div>

{% endif %}
<!--                          **********************************
                Nav header end
            ***********************************                          -->
