{% extends 'dashboard/base.html' %}
{% load static %}

{% block sent_email_view_content %}
  <div class="container-fluid mt-3">
    <div class="row">
      {% if messages %}
        {% for message in messages %}
          <div class="col-lg-12">
            <div class="alert alert-primary">{{ message }}</div>
          </div>
        {% endfor %}
      {% endif %}
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title" style="font-size:18px"><i class="fa fa-chevron-right"></i> List of Sent Bulk Mails</h4>
            <div class="table-responsive">
              <table id="example2" class="table header-border table-hover verticle-middle table-bordered display" style="color: black; padding: 0 1px !important;width: 100% !important;">
                <thead>
                  <tr>
                    <th>S.N.</th>
                    <th>Email Subject</th>
                    <th>Email Sent Date</th>
                    <th>View Details</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data in BulkEmail_obj %}
                    <tr>
                      <td width="2%">{{ forloop.counter }}</td>
                      <td width="75%">{{ data.email_subject }}</td>
                      <td width="15%">{{ data.email_sending_date }}</td>
                      <td width="8%"><a class="btn btn-outline-primary" href="{% url 'dashboard:sent_email_view_detail' data.id %}">View Details</a></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <script>
      new DataTable('#example2', {
        layout: {
          topStart: {
            buttons: ['copy', 'csv', 'excel', 'print']
          }
        }
      })
    </script>
  
    <!-- Datatable CSS Properties Block For both the Table -->
    <style>
      /* Remove padding and margin from all table elements */
      table,
      th,
      td {
        margin: 5;
        padding: 5 !important;
        border-collapse: collapse;
        border-spacing: 0;
      }
      
      /* Remove padding and margin from nested tables */
      table table {
        margin: 0;
        padding: 0;
        border: none;
      }
      
      table table td {
        padding: 0 !important;
      }
      
      /* Set font size and other styles as needed */
      td {
        font-size: 14px;
      }
      
      /* Ensure tooltip icons have no margin */
      .fa {
        margin: 0 !important;
      }
      
      /* Apply CSS to input[type="search"] */
      input[type='search'] {
        border: 2px solid #ccc;
        border-radius: 5px;
        padding: 8px;
        font-size: 16px;
        width: 200px;
      }
      
      #example2 th,
      #example2 td {
        text-align: left;
      }
      #example th,
      #example td {
        text-align: left;
      }
      
      #example2 tr:nth-child(even) {
        background-color: rgb(217, 229, 245);
      }
      #example2 th {
        background-color: rgb(207, 235, 247);
        text-align: left;
    </style>
  {% endblock %}
  
 
