<!DOCTYPE html> {% load static %}


<html>


<body style="background-color:#CFE8FD">



    <div class="container-fluid" class="container-fluid" style="height:850px; background-image: url('{% static 'core_app/img/epage2.png' %}');    
    background-position: center; ">



        <!-- <img class="img-fluid " src="{% static 'core_app/img/epage.png'%} " alt=" " srcset=" " style="height:300px;width:300px " /> -->





        <h2 style="color: rgb(85, 82, 82); text-align:center; margin:50px 0px 0px 0px; font-size:150px;">403</h2>
        <h3 style="color: rgb(209, 121, 49); text-align:center;">Permission Denied</h3>
        <h3 style="color: rgb(209, 121, 49); text-align:center;">
            <a href="#" onclick="renderPathFunction('home'); return false;" style="color:#185a89; text-decoration:none;">Go back to home</a>
        </h3>



    </div>


</body>



</html>