<!DOCTYPE html> {% load static %}



<html>



<body style="background-color:#CFE8FD">

    <div class="container-fluid" style="height:850px; background-image: url('{% static 'core_app/assets/img/epage2.png' %}');    
    background-position: center; ">



        





        <h2 style="color:rgb(85, 82, 82); text-align:center; margin:50px 0px 0px 0px; font-size:150px;">404</h2>
        <h3 style="color: rgb(209, 121, 49); text-align:center;">You've sent a bad request</h3>
        <h3 style="color: rgb(209, 121, 49); text-align:center; ">Oops,Page not found
            <p><a href="{% url 'home' %} " style="color:#185a89; text-decoration:none; ">Go back to home</a></p>
        </h3>


    </div>





</body>



</html>